
<html>
	<head>
		<title>My awesome Django Girls blog</title>
	</head>
	
	<body>
		<div>
			<h1><a href="">Welcome to Alexandras' awesome Django Girls Blog</a></h1>
		</div>
		
		<div>		
			<p>published: 26.11.2016, 15:00</p>
			<h2><a href="">The first post</a></h2>
			<p>Hejhej! Välkommen till Alexandras första coola post! Om du läser detta är du nästan lika cool som jag är!</p>

		</div>
		




		<div>
			<p> published: 26.11.2016, 15:05</p>
			<h2><a href="">The second post</a></h2>
			<p> Om du har läst vidare nu är du snäppet coolare än förut, men fortfarande tyvärr inte lika cool som jag är!</p>
		</div>
		

	</body>
</html>



